
@import "../../../styles/variables.scss";
.navbar {
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  &__container {
    max-width: 1200px;
    margin: auto;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: 20px;
    font-weight: 700;
    color: $primary;
  }

  &__nav a {
    margin-left: 24px;
    text-decoration: none;
    color: $text;
    font-weight: 500;
    position: relative;

    &:hover {
      color: $secondary;
    }
  }
}

.active-link {
  color: $secondary;

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: $secondary;
  }
}
